In [1]:
import pandas as pd
import numpy as np

In [6]:
from pandas.io.parsers.readers import read_csv
data = read_csv('Assignment2_2023_Data.txt', sep=" ", header=None)

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,ALLEN.P,1.080,3,425,83,27.0,3.0,1.0,2.0,0.60,2.8,1.0,44,57,44,68,5,7
1,ALLIGATOR.P,0.025,2,1494,47,26.0,2.0,0.0,1.0,0.69,0.8,1.0,45,37,50,69,12,30
2,ANASAGUNTICOOK.L,0.570,5,402,568,54.0,2.0,1.0,15.0,0.56,1.1,0.0,44,25,13,70,19,22
3,BALCH&STUMP.PONDS,0.770,5,557,704,44.0,2.0,1.0,14.0,0.58,2.7,0.0,43,37,0,70,59,4
4,BASKAHEGAN.L,0.790,5,417,6944,22.0,2.0,0.0,123.0,0.57,2.0,1.0,45,30,32,67,50,2

In [27]:
#rename Columns
data.set_axis(['NAME','HG','N','ELV','SA','Z', 'LT','ST', 'DA', 'RF', 'FR', 'DAM', 'LAT1',
             'LAT2', 'LAT3', 'LONG1', 'LONG2', 'LONG3'], axis='columns', inplace=True)
data.head(10)

,NAME,HG,N,ELV,SA,Z,LT,ST,DA,RF,FR,DAM,LAT1,LAT2,LAT3,LONG1,LONG2,LONG3
0,ALLEN.P,1.080,3,425,83,27.0,3.0,1.0,2.0,0.60,2.8,1.0,44,57,44,68,5,7
1,ALLIGATOR.P,0.025,2,1494,47,26.0,2.0,0.0,1.0,0.69,0.8,1.0,45,37,50,69,12,30
2,ANASAGUNTICOOK.L,0.570,5,402,568,54.0,2.0,1.0,15.0,0.56,1.1,0.0,44,25,13,70,19,22
3,BALCH&STUMP.PONDS,0.770,5,557,704,44.0,2.0,1.0,14.0,0.58,2.7,0.0,43,37,0,70,59,4
4,BASKAHEGAN.L,0.790,5,417,6944,22.0,2.0,0.0,123.0,0.57,2.0,1.0,45,30,32,67,50,2
5,BAUNEAG.BEG.L,0.750,4,205,200,29.0,2.0,1.0,18.0,0.51,9.6,0.0,43,21,46,70,44,23
6,BEAVER.P,0.270,5,397,128,8.0,3.0,0.0,2.0,0.61,7.9,1.0,43,59,47,70,49,26
7,BELDEN.P,0.660,3,350,24,30.0,3.0,1.0,1.0,NaN,NaN,1.0,44,24,48,69,23,8
8,BEN.ANNIS.P,0.180,5,122,25,9.0,2.0,0.0,10.0,0.51,58.8,1.0,44,46,25,68,56,35
9,BOTTLE.L,1.050,5,298,281,42.0,2.0,1.0,8.0,0.48,2.1,1.0,45,18,36,68,3,17

In [33]:
#dealing with NA Value
data.isnull().sum()

NAME     0
HG       0
N        0
ELV      0
SA       0
Z        1
LT       1
ST       2
DA       3
RF       7
FR       7
DAM      2
LAT1     0
LAT2     0
LAT3     0
LONG1    0
LONG2    0
LONG3    0
dtype: int64

In [49]:
index_LT_Nah = data.loc[data.LT.isnull()]
index_LT_Nah.index

Int64Index([99], dtype='int64')

Since we are interested in which type of lake have the highest mercury levels, the type of lake variable is important, we have to drop all of those row of data that contain the "LT" as "Nah"

In [50]:
#drop data 
data = data.drop(labels=index_LT_Nah.index, axis=0)

In [53]:
#check whether the 99th is dropped
data[98:100]

,NAME,HG,N,ELV,SA,Z,LT,ST,DA,RF,FR,DAM,LAT1,LAT2,LAT3,LONG1,LONG2,LONG3
98,SANDY.RIVER.P(MID),0.37,5,1700,70,58.0,3.0,1.0,4.0,0.56,3.8,1.0,44,53,52,70,33,16
100,SENNEBEC.P,0.41,3,87,532,57.0,3.0,1.0,106.0,0.60,14.2,0.0,44,15,26,69,15,59

Since the human infrastructure such as dam, and water flow are potential factor that affect the mercury levels, therefore, the variable "DAM" and "FR" that has Nah need to be drop, to avoid the inaccuracy of the data.

In [54]:
# dealing with DAM and FR
index_FR_Nah = data.loc[data.FR.isnull()]
index_DAM_Nah = data.loc[data.DAM.isnull()]

In [59]:
data = data.drop(labels=(index_FR_Nah.index), axis=0)

In [60]:
data = data.drop(labels=(index_DAM_Nah.index), axis=0)

In [63]:
data.isnull().sum()

NAME     0
HG       0
N        0
ELV      0
SA       0
Z        0
LT       0
ST       1
DA       2
RF       0
FR       0
DAM      0
LAT1     0
LAT2     0
LAT3     0
LONG1    0
LONG2    0
LONG3    0
dtype: int64

Although the drainage area is draw attention, but it is a categorial data, in which we cannot simply assgin a value such as average or 0 to it. It has to be droppped.

In [64]:
index_ST_Nah = data.loc[data.ST.isnull()]
data = data.drop(labels=(index_ST_Nah.index), axis=0)

In [65]:
#make sure deleted
data.shape

(111, 18)

In [66]:
data.isnull().sum()

NAME     0
HG       0
N        0
ELV      0
SA       0
Z        0
LT       0
ST       0
DA       1
RF       0
FR       0
DAM      0
LAT1     0
LAT2     0
LAT3     0
LONG1    0
LONG2    0
LONG3    0
dtype: int64

The drainage also has a "Nah" value, We can use the average to replace it, so is will not influence tha entire data, to avoid lose too many row of data.

In [72]:
avg_DA = np.mean(data.DA)
index_DA_Nah = data.loc[data.DA.isnull()]

data.DA = data.DA.fillna(avg_DA)

In [76]:
avg_DA

44.59090909090909

In [80]:
data.isnull().sum()

NAME     0
HG       0
N        0
ELV      0
SA       0
Z        0
LT       0
ST       0
DA       0
RF       0
FR       0
DAM      0
LAT1     0
LAT2     0
LAT3     0
LONG1    0
LONG2    0
LONG3    0
dtype: int64

Now the data is clean, the pre-processing procedure is done

In [82]:
from google.colab import files

data.to_csv('after_clean.csv', encoding = 'utf-8-sig') 
files.download('after_clean.csv')